<!DOCTYPE html>
<html>
  <head>
    <title>SlackLite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery.dotdotdot/4.1.0/dotdotdot.js"></script>
    <script src="https://kit.fontawesome.com/39b355a591.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <script type="text/javascript">
    window.inLogoWhite = "<%= image_url('barked-in-logo-white.png') %>";
    window.slackLogo = "<%= image_url('slack_logo.png') %>"
  </script>

  <body>
    <%= yield %>
  </body>
</html>
